<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exemplo_CRUD.Properties.Settings.db_230788ConnectionString"
            connectionString="Data Source=darnassus\motorhead;Initial Catalog=db_230788;User ID=230788;Password=Gabriel_102030"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>